/* header.css */
/* * 페이지 초기화 * */ /* header에만 적용해도 전체 적용 됨 */
@font-face {    /* 전체 폰트 지정 */
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf'); /* css파일 기준으로 // 상위폴더로 지정 : .. */
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, Consolas;
}

a {
    text-decoration: none;
    color: black;
    display: block;         /* menu 영역 확장 */
}

li {
    list-style: none;
}

/* * * header .gnb * * */
header .gnb {
    /* width: 100%;    /* 생략 가능 */
    background-color: black;
}
header .gnb ul {
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;  /* 상하 가운데 정렬 */
    overflow: hidden;
}
header .gnb ul li {
    float: left;
    width: 80px;
    margin: 0 10px;
    text-align: center;
    /* border: 2px solid yellow;
       box-sizing: border-box;     /* 갯수가 잘려 행 맞추기 // 확인용 */
}
header .gnb ul li a {
    color: white;
}

/* * * header .logo * * */
header .logo {  /* header-class"logo"-LOGO 폰트 지정 */
    font-family: "Pacifico", cursive;
    width: 200px;           /* 가로 */
    height: 100px;          /* 높이 */
    line-height: 100px;     /* 글씨 상하 가운데 정렬*/
    margin: 30px auto;      /* 밖여백 */
    text-align: center;     /* 글씨 가운데 정렬 */
    border: 1px solid gray; /* 테두리 */
    font-size: 2em;         /* 글씨크기 2배 */
}

/* * * header .hitmenu * * */
header .hitmenu ul {
    width: 1000px;          /* 가로 */
    margin: 3px auto;       /* 밖여백 : 위 3px 나머지 자동 */
    overflow: hidden;       /* li 가로정렬 */
}
header .hitmenu ul li {
    float: right;            /* 가로정렬 */
    border: 1px solid gray;  /* 테두리*/
}
header .hitmenu ul li a {
    /* width: 90px;            /* 가로 
       height: 40px;           /* 세로 
       line-height: 40px;      /* 글씨 상하 가운데 정렬 
       text-align: center;     /* 글씨 가운데 정렬 */
    padding: 10px 30px;     /* 상 우(하 좌) 안여백 : 위 네 줄과 같은 출력 */
}
header .hitmenu ul li:first-child {
    border-radius: 0 10px 10px 0;   /* hit4 모서리 깎기 */
}
header .hitmenu ul li:last-child {
    border-radius: 10px 0 0 10px;   /* hit1 모서리 깎기 */
}

/* * * header .lnb * * */
header .lnb {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}
header .lnb ul {
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
header .lnb ul li {
    float: left;
    width: 125px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}