/* 전체 초기화 */
* {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

#wrap {
    border: 5px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

li {
    list-style: none;
}

/* nav */
nav {
    box-sizing: border-box;
}
nav #nav_left ul {
    overflow: hidden;
}
nav #nav_left ul li {
    float: left;
    width: 120px;
}
nav #nav_left ul li:first-child {
    border: 1px solid black;
    background-color: #FDEADA;
}
nav #nav_right ul li {
    float: right;
    width: 90px;
}