#wrap {
    width: 800px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 10px;
}

#header {
    text-align: center;
    text-decoration: underline;
    padding: 50px;
    font-size: 2em;
}

#content {
    border-bottom: 1px solid gray;
}

    #content p:first-child {
        font-weight: bold;
        font-size: 20px;
    }

    #content p:nth-child(2) {
        padding: 15px;
        line-height: 25px;
    }

    #content p:last-child {
        text-align: right;
        font-size: 18px;
        line-height: 25px;
    }

#footer {
    color: blue;
    text-align: center;
    font-size: 25px;
    padding: 40px;
}
a {
    text-decoration: none;
}
